Language: Cpp
BasedOnStyle: LLVM

UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
IndentPPDirectives: AfterHash
PPIndentWidth: 1
# AlignAfterOpenBracket: AlwaysBreak
# BracedInitializerIndentWidth: 0

ColumnLimit: 80

AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments

BreakBeforeBraces: Allman
# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterControlStatement: true
#   AfterStruct: true
#   AfterClass: true
#   AfterEnum: true
#   SplitEmptyFunction: true
#   AfterFunction: true

AllowShortBlocksOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false
# AllowShortRecordOnASingleLine: Empty # clang v23

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^/].*\.h'
    Priority: 9
    SortPriority: 90
  - Regex: '^\".*\.h\"'
    Priority: 10
    SortPriority: 100